{% extends "base.html" %}
{% load static widget_tweaks form_tags %}

{% block title %}
	Your TODO list
{% endblock title %}

{% block content %}
	<div class="col-log-4 col-md-6 col-sm-6 my-auto">
		<div class="card">
			<h3 class="card-header">TODO list</h3>
			<div class="card-body pt-3">
				<form method="post" class="form-inline row px-3" novalidate>
					{% csrf_token %}
					<label class="sr-only" for="input">{{ form.goal.label_tag }}</label>
					<input type="text" class="form-control col-10" id="input" name="goal" placeholder="Finish my homework..." required>
					<button type="submit" class="btn btn-secondary col-2">ADD</button>
				</form>
				<hr>
				<ul class="list-group list-group-flush">
					{% if items %}
						{% include "includes/items_list.html" %}
					{% else %}
						<p class="text-center text-muted mb-1">No tasks to show</p>
					{% endif %}
				</ul>
			</div>
		</div>
		<a href="{% url 'completed' %}" class="d-block text-muted text-center mt-1 footer-link">See completed tasks</a>
	</div>
{% endblock content %}