{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
	<div class="col-log-4 col-md-4 col-sm-6 my-auto">
		<div class="card">
			<h3 class="card-header text-center p-1">Login</h3>
			<div class="card-body">
				<form method="post" novalidate>
					{% csrf_token %}
					{% include "includes/form.html" %}
					<button type="submit" class="btn btn-primary btn-block">Login</button>
				</form>
			</div>
			<div class="card-footer p-1">
				<small class="text-muted text-center d-block">
					Don't have an account?
					<a href="{% url 'signup' %}">Sign up</a>.
				</small>
			</div>
		</div>
	</div>
{% endblock content %}