{% extends "base.html" %}

{% block title %}Sign up{% endblock title %}

{% block content %}
	<div class="col-lg-4 col-md-4 col-sm-6 my-auto">
		<div class="card">
			<h3 class="card-header">Sign up</h3>
			<div class="card-body">
				<form method="post" novalidate>
					<input type="hidden" name='next' value="{{ next }}">
					{% csrf_token %}
					{% include "includes/form.html" %}
					<button type="submit" class="btn btn-primary btn-block">Sign up</button>
				</form>
			</div>
			<div class="card-footer">
				<small class="text-muted text-center d-block">
					Already have an account?
					<a href="{% url 'signup' %}">Log in</a>.
				</small>
			</div>
		</div>
	</div>
{% endblock content %}